#login
{
	position:absolute;
	right:30px;
	top:25px;
}

#logout
{
	position:absolute;
	right:30px;
	top:18px;
	width:200px;
	font-family: "Oxygen";
	font-size: 13px;
}

#avatarrect
{
	background-color:#333333;
	right:248px;
	top:19px;
	width:44px;
	height:44px;
}

.avatar
{
	position:absolute;
	right:250px;
	top:21px;
	width:40px;
}

#header
{
	width:auto;
	position:relative;
	height:80px;
	padding:0px;
	margin:0px;
	background-color:#1A1A1A;
}

#dotalogo
{
	position:absolute;
	left:10px;
	top:10px;
	height:60px;
}

#titletext
{
	position:relative;
	font-family: "Oxygen";
	font-size: 20px;
	left:80px;
	top:7px;
	width:500px;
}

#gamestracked
{
	position:relative;
	bottom:10px;
	font-size: 18px;
}

/*SOLO MMR SECTION*/
#solommr
{
	position:relative;
	bottom:15px;
	left:12px;
	font-size: 18px;
}

#setsolommr
{
	position:relative;
	bottom:54px;
	left:150px;
	height:20px;
}

#inputsolommr
{
	position:relative;
	left:113px;
	bottom:55px;
	width:50px;
}
/******************/

/*PARTY MMR SECTION*/
#partymmr
{
	position:relative;
	bottom:20px;
	left:12px;
	font-size: 18px;
}

#setpartymmr
{
	position:relative;
	left:150px;
	bottom:60px;
	height:20px;
}

#inputpartymmr
{
	position:relative;
	left:113px;
	bottom:62px;
	width:50px;
}
/******************/

#addgamebutton
{
	position: absolute;
	left:10px;
}

#addgamediv
{
	top:200px;
	left:10px;
	position: absolute;
	width:200px;
	height:200px;
	border:2px solid;
	background-color:#404040;
	border-color:#1A1A1A;
	visibility:hidden;
	text-align: center;
	font-family: "Oxygen";
	font-size: 13px;
	color:white;
}

#plus
{
	font-size: 22px;
}

/*GAMES LIST SECTION*/
#gamesdiv
{
	position: absolute;
	width:300px;
	right:0px;
	top:78px;
	height:843px;
	border:2px solid;
	background-color:#404040;
	border-color:#1A1A1A;

}

#gamesdivheader
{
	text-align: center;
	font-size: 18px;
	line-height: 0em;
}

.gamedata
{
	position: relative;
	width: 300px;
	height: 50px;
	right: 3px;
	border:2px solid;
	background-color:#525252;
	border-color:#1A1A1A;
	margin-bottom: -2px;
}

.gamedata:hover
{
	cursor: pointer;
	background-color:#1A1A1A;
}

.heroicon
{
	position: absolute;
	right: 100px;
	left: 10px;
	top: 9px;
}

.heroiconoutline
{
	position: relative;
	top: 3px;
	left: 4px;
}

.gameresulttext
{
	position: relative;
	font-family: "Oxygen";
	font-size: 16px;
	color:white;
	bottom: 20px;
	left: 5px;
}

.gamemmrtext
{
	position: relative;
	font-family: "Oxygen";
	font-size: 16px;
	bottom: 14px;
	left: 15px;
}

.queuetype
{
	position: relative;
	bottom: 35px;
	left: 90px;

}
/*******************/

#bodydiv
{
	padding:0px;
	margin:0px;
	width:auto;
	min-height: 100%;
	background-color:#333333;

}

#footer
{

    clear: both;
    color: White;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 10px;
}

html, body
{
	padding:0px;
	margin:0px;
 	float: left;
	width:100%;
	height:100%;
	min-width: 800px;
	min-height: 800px;
	overflow-y: hidden;
}

p, a
{
	font-family: "Oxygen";
	font-size: 13px;
	color:white;
}

div
{
	padding:0px;
	margin:0px;
	width:auto;
	overflow: hidden;
}